<!DOCTYPE html> 
<html class="ui-mobile"> 
    <head> 
        <title>Page Title</title> 
        <base href="http://localhost:8080/">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 

        <link type="text/css" rel="stylesheet" media="screen" href="/css/sidetap.css" />

        <link type="text/css" rel="stylesheet" media="screen" href="/css/theme/default/default.css" />
        <link type="text/css" rel="stylesheet" media="screen" href="/css/jquery.mobile-1.2.0.min.css" />
        <script src="/js/lib/require.js" data-main="js/mobile"></script>

    </head> 
    <body>
        <div class="sidetap">
            <div class="stp-nav">
                <div>
                    <nav>
                    <a href="#" class="selected">Agenda</a>
                    <a href="#">Clientes</a>
                    <a href="#"></a>
                    <a href="#"></a>
                    </nav>
                </div>
            </div>

            <div class="stp-content" id="content">
                <header class="stp-fake-header">&nbsp;</header>
                <div class="stp-overlay nav-toggle">&nbsp;</div>

                <!-- Content Divs Look Like This -->
                <div class="stp-content-panel">
                    <header>
                    <a href="javascript:void(0)" class="header-button icon menu"><span>Menu</span></a>
                    <a href="javascript:void(0)" class="header-button icon info right"><span>Info</span></a>
                    <h1>Agenda</h1>                    
                    </header>
                    <div class="stp-content-frame">
                        <div class="stp-content-body">
                            <div>
                                <div id="visitas" data-role="page" data-title="Agenda">
  
                                      <div data-role="header">
                                            <h1>Agenda</h1>
                                      </div><!-- /header -->
                                  
                                      <div data-role="content">                                            
                                            <ul data-role="listview" data-inset="false">         
                                                  <li><a href="#category?animals" class="animals">Animals</a></li>
                                                  <li><a href="#category?colors" class="colors">Colors</a></li>
                                                  <li><a href="#category?vehicles" class="vehicles">Vehicles</a></li>
                                            </ul>
                                      </div><!-- /content -->

                                </div>

                                <div id="accounts" data-role="page" data-title="Clientes">
  
                                      <div data-role="header">
                                            <h1>Agenda</h1>
                                      </div><!-- /header -->
                                  
                                      <div data-role="content">                                            
                                            <ul data-role="listview" data-inset="false">         
                                                  <li><a href="#category?animals" class="animals">Animals</a></li>
                                                  <li><a href="#category?colors" class="colors">Colors</a></li>
                                                  <li><a href="#category?vehicles" class="vehicles">Vehicles</a></li>
                                            </ul>
                                      </div><!-- /content -->

                                </div>                                



                            </div>
                        </div>
                    </div>
                </div>
                <!-- End content Div -->
            </div>
        </div>                

        <script id="visitaItems" type="text/template">

              <% _.each( collection.toJSON(), function( category, id ) { %>

                    <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">
                          <%= category.type %>
                    </li>

              <% }); %>

        </script>
    </body>
</html>

